.shining {
    background-image: url('/images/the-shining.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;        
}

div.info {
    display: inline-block;
    width: 40%;
}

div.info img {
  float: left;
  margin: 0;
}

.info p {
    font-size: 60%;
    float: left;
    margin: 15px 10px 0px 10px;
}

#quote {
    font-size: 60%;    
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #363535;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #7e9a9a ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    text-align: left;
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#7e9a9a;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote#quote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:10px;
    
  }

  pre code {
      font-size: 0.7em !important;
  }

