mark {
  background: none;
  color: yellow;
}

.note {
  font-size: 20px !important;
}

.small {
  font-size: 30px !important;
}

.col-2 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
